* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #65c3e2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    height: 100vh;
}

.calc-box {
    height: 480px;
    width: 340px;
    border: 1px solid;
    background: #2b2a2a;
    border-radius: 15px;
}

.calc-screen {
    height: 80px;
    width: 315px;
    border: 1px solid;
    margin: 10px;
    margin-top: 15px;
    background: grey;
    border-bottom: 30px;
    border-radius: 10px;
}

.all-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 300px;
    margin-top: 30px;
    gap: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.all-buttons button {
    border-radius: 100%;
    border: none;
    background: #616161;
    color: #DFDFDF;
    padding: 1.25rem;
    font-size: 1.325rem;
    box-shadow: 4px 5px 5px 0px rgb(0 0 0 / 50%);
    cursor: pointer;
}

#equal {
    grid-row: 5/6;
    grid-column: 3/5;
    border-radius: 45px;
}

#equal:hover {
    background: #2cdb2c;
}

.operators:hover {
    background-color: #55d8d8;
}

.all-clear:hover,
.clear:hover {
    background: #d44545;
}

.digits:hover,
.decimal:hover {
    background: #d1cece;
}

.current-operand {
    margin-top: 25px;
    direction: rtl;
    font-family: 'Concert One', cursive;
    font-weight: 700;
    font-size: 35px;
    color: #f1eee7;
}

.last-operand {
    text-align: right;
    font-family: 'Concert One', cursive;
    font-weight: 500;
    color: #2cdb2c;
}